.text-animate{
    display: inline-block;
    opacity: 1;
    animation: zoomInDown 1.3s 1s;
    animation-fill-mode: backwards;
    min-width: 10px;
}
.text-animate-hover{
    min-width: 10px;
    display: inline-block;
    animation-fill-mode: both;

    &:hover{
        animation: heartBeat 2s;
        // color:yellow;
    }
}

@for $i from 1 through 46{
    .text-animate._#{$i} {
        animation-delay: #{calc($i/10)}s;
    }
}