.home-page {
    .text-zone {
      position: absolute;
      left: 10%;
      top: 50%;
      transform: translateY(-50%);
      width: 40%;
      max-height: 90%;
    }

    h1{
        color:white;
        font-size: 53px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 350;
        transition: fadeIn 0.5s backwards;
        
        &::before{
            content: '<h1>';
            font-family: 'La Belle Aurore';
            color: yellow;
            font-size: 18px;
            position: absolute;
            margin-top: -20px;
            left:-20px;
            opacity: 0.6;
        }

        &::after{
            content: '<h1>';
            font-family: 'La Belle Aurore';
            color: yellow;
            font-size: 18px;
            position: absolute;
            margin-top: 65px;
            opacity: 0.6;
            margin-left: 20px;
            
        }
    img{
        width: 32px;
        filter:sepia(1);
        opacity: 0;
        animation: rotateIn 1s linear both;
        animation-delay: 1.7s;
        margin-left: 16px;
    }

   

}
h2{
    color: white;
    font-weight: 400;
    font-family: sans-serif;
    font-size: 12px;
    letter-spacing: 3px;
    margin-top: 20px;
    animation: fadeIn 1s 4.8s backwards;
}
.flat-button{
    color:yellow;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding:10px 18px;
    margin-top: 10px;
    float: left;
    border: 1px solid yellow;
    animation: lightSpeedInRight 1s 5.4s backwards;
    white-space: nowrap;

    &:hover{
        transition: ease-out .8s;
        background-color: rgb(249, 237, 104);
        color: #000a4d;
        transform:scale(1.05) ;

    }
}
}