
.home{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.Name{
    float: left;
    font-size: 60px;
    color:white;
    font-family: 'La Belle Aurore', cursive;
    margin-right: 0;
    margin-left: 100px;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
}
.NameRight{
   float: right;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    font-family: 'La Belle Aurore', cursive;
    text-align: center;
       
}

img{
    height:450px;
    width: 600px;
    // filter:drop-shadow(6px 6px 8px rgb(134, 134, 134));
    margin-right: 100px;
}

@media screen and (max-width: 1200px){
    .Name{
        margin-left:100px
    }
    
}